<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>小猪佩奇</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <style>
        th,td
        {
            text-align: center;
        }
    </style>
</head>
<body background="http://www.ps123.net/sucai/UploadFiles_0715/201210/20121024074614930.jpg">
    <p style="font-family:Arial;color: black;font-size: 50px;text-align: center;">
        页面展示
    </p>
    <table border="3" width="1720px" style="font-family: Arial;color: black; font-size: 30px">

        {% for key1,value1 in data.items %}
            <td width="5px" height="10px">ip：{{ key1 }}</td>
            {% for key2,value2 in value1.items %}
                {% if key2 == 'disk' %}
                    {% for key3,value3 in value2.items %}
                    <td width="30px" height="10px">disk {{ key3 }} percent is {{ value3 }}</td>
                    {% endfor %}
                {%  else %}
                    <td width="8px" height="10px">{{ key2 }}：{{ value2 }}</td>
                {% endif %}

            {% endfor %}
        {% endfor %}

    </table>

    <div align="center">
        <br/>
        <br/>
        <br/>
        <br/>
        <input type="button" onclick="javascript:window.location.reload() " value="请点击这里来刷新页面" style="font-family: Arial;color: black; font-size: 30px"/>
    </div>
    <script language="JavaScript">
        function myrefresh(){
        window.location.reload();
        }
        setTimeout('myrefresh()',5000); //指定5秒刷新一次

    </script>

</body>
</html>